/* 
    # --> ID
    . --> STYLE 
*/

@font-face {
    font-family: 'Minecraft';
    src: local('Minecraft Regular'), local('Minecraft-Regular'),
        url('../fonts/Minecraft-Regular.woff2') format('woff2'),
        url('../fonts/Minecraft-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a,p,div,h1 {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
    font-weight: 1.5vw;
    
}

footer {
    position: fixed;
    left: 0px;
    bottom: 50px;
    width: 100%;
}

#doge {
    margin: 0;
}

.infinite {
    padding-top: 1px;
    width: 240px;
    margin: auto;
    background-color: white;
    box-shadow: inset 0 0 15px rgb(139, 212, 195);
    border-radius: 60px; 
}

.info {
    position: fixed;
    top: 5px;
    left: 600px;
}

#rotate {
  animation: rotation 1800s infinite linear;
  border-radius: 50%
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  max-width: 100%;
  overflow-x: hidden;
}